.page * {
  font-family: "Helvetica Neue",Arial,Sans-Serif;
  font-weight: 300;
}

.green-section {
  border-bottom:5px solid #065254;
  margin-bottom:2em;
}

.review {
  border-left: 5px solid black;
  padding-left:15px;
  margin-bottom:2em;
  span {
  font-family: Georgia;
  font-style: italic;
}}

.overlay {
  margin-top:-5em;
  h1 {
    background-color: white;
    display:inline-block;
    font-size: 3em;
    padding:.5em 1em;
    font-weight: 500;

  }
}

.feature {
  background-color: #BFEBF4;
  background-image: url("../../public/images/image1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height:560px;
  height:100%;
  margin-top: -10px;
  border-bottom: 10px solid #065254;
}


a.button-dark {
  background-color: #000000;
  color: white;
  text-decoration: none;
  padding:1em;
  display: inline-block;
  margin:1em 0;
}

blockquote {
  border-left:5px solid black;
}

