@media only screen and (max-width: 640px) {

  .hide {
    display:none;
  }
  .desktop-only {
    display:none;
  }
}

@media only screen and (min-width: 640px) {
  .mobile-only {
    display:none;
  }

}