
{% extends "layout_ncs.html" %}

{% block pageTitle %}
Skills toolkit 2
{% endblock %}



{% block main %}
{% block beforeContent %}
<div class="govuk-width-container ">
  <div class="govuk-phase-banner"><p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta
  </strong>
    <span class="govuk-phase-banner__text">Complete <a target="_blank" class="govuk-link" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service.</span>
  </p></div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">

      <h1 class="govuk-heading-xl">The Skills Toolkit</h1>
      <p class="govuk-body">Free online resources to improve math, digital and workplace skills.</p>
    </div>
  </div>
 <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          Practical Maths
        </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
              Learn fractions, decimals and other everyday math skills. Then apply them to work or your finances.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
            <ul class="course-list govuk-list">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">The Open University</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.open.edu/openlearn/science-maths-technology/everyday-maths-1/content-section-overview?active-tab=description-tab" class="govuk-link">Everyday Maths</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Refresh your maths skills to help with everyday life or get on in your job. From using a calculator, learning to convert fractions to decimals and understanding percentages, to measuring objects, distances and weights. Understand how to use tables, diagrams and charts. You'll get lots of practice using the maths you need in daily life.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>48 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">The Open University</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.open.edu/openlearn/money-business/introduction-bookkeeping-and-accounting/content-section-0?active-tab=description-tab" class="govuk-link">Introduction to Bookkeeping</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Get an introduction to the essential skills and concepts of bookkeeping and accounting. The course covers double-entry bookkeeping, how to prepare a trial balance and the two principal financial statements: the balance sheet and the profit and loss account.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>8 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">Corndel</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://finance.corndel.com/?utm_source=ncs&utm_campaign=ol&utm_medium=everydaymaths" class="govuk-link">Introduction to Finance</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Understand the essential analytical tools and financial reports that are used to manage organisations, like understanding balance sheets, profit and loss accounts and cash flow forecast and managing budgets.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>No</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>40 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l"></ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          Computer essentials
        </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
              Learn how to use a computer, the internet and office programs like spreadsheet and word processors.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
            <ul class="course-list govuk-list">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">Good Things Foundation</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.learnmyway.com/?utm_source=skillstoolkit&utm_medium=website&utm_campaign=gov.uk" class="govuk-link">Learn My Way</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Collection of resources to help you use the internet. Learn how to use your computer or device, find a job online, use public service and use office programs like Microsoft Word.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>no</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>0 to 4 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">Good Things Foundation</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://makeitclick.learnmyway.com/directory/search/?utm_source=skillstoolkit&utm_medium=website&utm_campaign=gov.uk" class="govuk-link">Make It Click</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Over 150 resources to help with everything from sending emails and creating a CV to editing photos and advice for working from home.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>no</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>0 to 4 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">Microsoft</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://support.microsoft.com/en-gb/office/outlook-training-8a5b816d-9052-4190-a5eb-494512343cca?ui=en-us&rs=en-gb&ad=gb&utm_medium=website&utm_campaign=gov.uk" class="govuk-link">Get the best out of Microsoft Outlook</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Learn how to send an email, book a meeting, manage your calendar and organise a to-do list.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>no</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>0 to 4 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">Lloyds Bank</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.lloydsbankacademy.co.uk/course-selection/?utm_source=gov_website&utm_medium=affiliate&utm_campaign=national_careers_service" class="govuk-link">Learn For Everyday Life</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Inspire your digital journey with lessons on a variety of skills to help you master video calling, deal with online fraud, improve your CV, present yourself and work with others safely online.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>no</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>0 to 4 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l"></ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          Workplace essentials
        </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              Present your work, create a professional online presence and get the most from the digital workplace.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
            <ul class="course-list govuk-list">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">FutureLearn</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.futurelearn.com/courses/create-a-professional-online-presence" class="govuk-link">Create a Professional Online Presence</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Explore how to present yourself professionally online. Find out more about different social media platforms and how the way that you conduct yourself online can impact your professional reputation. Learn about safety and privacy and the ways that your online activity might be viewed by different audiences.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>4 hours in total over 2 weeks</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">FutureLearn</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.futurelearn.com/programs/thriving-in-the-digital-workplace" class="govuk-link">Thriving in the Digital Workplace</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Boost your confidence and build the skills you need to use digital technology in the workplace. Explore jobs that need digital skills through real life case studies. Get to know what digital skills you're most likely to need in the future to stay one step ahead and develop techniques to enhance wellbeing and resilience at work.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>12 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">FutureLearn</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.futurelearn.com/courses/presenting-your-work-with-impact" class="govuk-link">Presenting Your Work with Impact</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Learn to create and present engaging content clearly and confidently in a range of situations, like in interviews and business meetings. Explore different types of presentation software and learn techniques to convey your ideas with confidence.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>4 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l"></ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
          Coding and computer science
        </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
              Python, cybersecurity, computer networks and coding for data analysis.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
            <ul class="course-list govuk-list">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">The Open University</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.open.edu/openlearn/science-maths-technology/computing-ict/discovering-computer-networks-hands-on-the-open-networking-lab/content-section-overview?active-tab=description-tab" class="govuk-link">Discovering Computer Networks: hands on in the Open Networking Lab</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Learn how computer networks operate, how data is sent around the internet and put your understanding into practice using an inbuilt network simulator to create your own simulated computer networks.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>24 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">The Open University</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.open.edu/openlearn/science-maths-technology/learn-code-data-analysis/content-section-overview-0?active-tab=description-tab" class="govuk-link">Learn to Code for Data Analysis</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Learn how to write your own computer programs, one line of code at a time. Find out how to access open data, clean and analyse it, and produce visualisations, and how to present your analyses, privately or publicly. You'll be coding in Python, a widely used programming language across all disciplines.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>24 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">Cisco Networking Academy</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.netacad.com/portal/web/self-enroll/c/course-1020069" class="govuk-link">Programming Essentials in Python</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Learn how to code in Python: an object-oriented programming language used by small companies to tech giants. Gain skills to write your own computer programmes, or to design a web or desktop application. You don't need to have any previous programming experience or knowledge to do this course.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>No</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>70 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">The Open University</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.open.edu/openlearn/science-maths-technology/introduction-cyber-security-stay-safe-online/content-section-overview?active-tab=description-tab" class="govuk-link">Introduction to Cyber Security: Stay Safe Online</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Learn how to stay safe online at home and at work. The course will help you to recognise cyber threats and the steps to take to reduce your risks online. Find out about malware, viruses, trojans, network security, cryptography, identity theft and risk management.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>24 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l"></ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-5">
          Business and marketing
        </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-5">
              Social media, online content, digital marketing, finance and bookkeeping.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
            <ul class="course-list govuk-list">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">The Open University</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.open.edu/openlearn/money-business/introduction-bookkeeping-and-accounting/content-section-0?active-tab=description-tab" class="govuk-link">Introduction to Bookkeeping</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Get an introduction to the essential skills and concepts of bookkeeping and accounting. The course covers double-entry bookkeeping, how to prepare a trial balance and the two principal financial statements: the balance sheet and the profit and loss account.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>8 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">Corndel</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://finance.corndel.com/?utm_source=ncs&utm_campaign=ol&utm_medium=everydaymaths" class="govuk-link">Introduction to Finance</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Understand the essential analytical tools and financial reports that are used to manage organisations, like understanding balance sheets, profit and loss accounts and cash flow forecast and managing budgets.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>No</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>40 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">FutureLearn</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.futurelearn.com/courses/how-to-create-great-online-content" class="govuk-link">How to Create Great Online Content</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Find out about different types of online content and what makes them effective in different situations. Discover the importance of tone, style and format in your communications, and develop best practice for communicating effectively online</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>4 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">FutureLearn</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://www.futurelearn.com/courses/digital-skills-social-media" class="govuk-link">Digital Skills: Social Media (for business)</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>A course for those wanting to use social media effectively to develop their entrepreneurial skills, to enter the workplace or to change career. Learn how to use social media to establish and improve your brand, set campaign objectives and identify your target audience. Create engaging content and discover the best places to pitch it.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>2 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l">
              <li class="govuk-body course">
                <div class="govuk-!-margin-bottom-1"><span class="govuk-hint">Google Digital Garage</span></div>
                <div class="govuk-!-margin-bottom-1"><h2 class="govuk-heading-m"><a href="https://learndigital.withgoogle.com/digitalgarage/course/digital-marketing?utm_medium=referral&utm_campaign=2020Q2_UK_Partner&utm_content=DfE" class="govuk-link">Fundamentals of Digital Marketing</a></h2></div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Description : </span>Learn how to market goods or services online through a series of short video tutorials and knowledge quizzes. The course covers topics like creating a website and getting it known, marketing your business locally and internationally and advertising using social media. There are modules covering how to sell online as well as how to analyse the success of your marketing plan.</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Certificate of completion : </span>Yes</div>
                <div class="govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Study time : </span>40 hours</div>
              </li>
              <hr class=" govuk-section-break govuk-section-break--visible govuk-section-break--l"></ul>
          </div>
        </div>

      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div >
        <div class="sfContentBlock sf-Long-text"><div class="app-related-items">
          <h2 class="govuk-heading-m">Support during Covid-19</h2>
          <ul class="govuk-list">
            <li><a class="govuk-link" href="/get-a-job/advice-for-furloughed-workers">Advice for furloughed workers</a></li>
            <li><a class="govuk-link" href="/get-a-job/advice-for-if-you-lose-your-job">Advice for if you lose your job</a></li>
          </ul>
        </div></div>
      </div>
      <div>
        <div class="sfContentBlock sf-Long-text"><div class="govuk-!-margin-top-7"><h2 class="govuk-heading-m">Other opportunities</h2><ul class="govuk-list"><li><a class="govuk-link" href="/find-a-course/search">Search other courses </a></li><li><a class="govuk-link" href="/find-a-course/where-to-find-free-online-learning">Where to find other online learning</a></li><li><a class="govuk-link" href="/find-a-course/ways-to-develop-skills">Other ways to develop skills</a></li></ul></div></div>
      </div>
      <div>
        <div class="sfContentBlock sf-Long-text"><div class="govuk-!-margin-top-7"><h2 class="govuk-heading-m">Skills assessment</h2><p class="govuk-body"><a href="/skills-assessment" class="govuk-link">Take an assessment</a> to learn more about your skills and the careers that might suit you.</p></div></div>
      </div>
      <div>
        <div class="sfContentBlock sf-Long-text"><div>
          <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
          <p class="govuk-body-m" style="margin-bottom:0px;"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat" rel="external" target="'_blank'">use webchat</a></p>
          <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
        </div></div>
      </div>
      <div>
        <div class="sfContentBlock sf-Long-text"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}

