{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
serviceName: serviceName,
serviceUrl: "/",
navigation: [
{
href: "/docs/install",
text: "Install",
attributes: {
"data-install": "Install"
}
},
{
href: "/docs/tutorials-and-examples",
text: "Tutorials and examples",
attributes: {
"data-tutorials": "Tutorials and examples"
}
},
{
href: "/docs/about",
text: "About",
attributes: {
"data-about": "About"
}
}
]
}) }}
{% endblock %}


{% block main %}

{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
{{ govukFooter({
meta: {
items: [
{
href: "/prototype-admin/clear-data",
text: "Clear data"
},
{
href: "/docs/cookies",
text: "Cookies"
},
{
href: "/docs/privacy-policy",
text: "Privacy policy"
}
]
}
}) }}
{% endblock %}
