
{% extends "layout_ncs.html" %}

{% block pageTitle %}
Skills toolkit 2
{% endblock %}



{% block main %}
{% block beforeContent %}
<div class="govuk-width-container ">
  <div class="govuk-phase-banner"><p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">beta
  </strong>
    <span class="govuk-phase-banner__text">Complete <a target="_blank" class="govuk-link" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service.</span>
  </p></div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-6">
      <h1 class="govuk-heading-xl">The Skills Toolkit</h1>
      <p>The Skills Toolkit is made up of free online courses, tools and resources to help you improve your digital and numeracy skills. The Department for Education has consulted some of the country’s leading educational experts and employers to make up a collection of high quality resources to suit a range of interests and skill levels.</p>
    </div>
  </div>
 <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-one-third">
      <div class="filters filters">
      <div class="filters-container">
        <div class="filter-label">
          <h2 class="govuk-heading-s govuk-!-margin-0">Level</h2>
        </div>
        <div class="filter-box conditional-box">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-visually-hidden">Level</legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-form-group">
                <div class="govuk-radios__item">
                  <input aria-controls="conditional-start-date-conditional-1" aria-expanded="false"  class="govuk-radios__input" data-val="true" data-val-required="The StartDate field is required." id="StartDate_Anytime" name="StartDate" type="radio" value="Introductory">
                  <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="StartDate_Anytime">Introductory</label>
                </div>
                <div class="govuk-radios__item">
                  <input aria-controls="conditional-start-date-conditional-1" aria-expanded="false" class="govuk-radios__input" id="StartDate_FromToday" name="StartDate" type="radio" value="Intermediate">
                  <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="StartDate_FromToday">Intermediate</label>
                </div>
                <div class="govuk-radios__item">
                  <input aria-controls="conditional-start-date-conditional-1" aria-expanded="false" class="govuk-radios__input" id="StartDate_SelectDateFrom" name="StartDate" type="radio" value="Advanced">
                  <label class="govuk-label govuk-radios__label govuk-!-font-size-16" for="StartDate_SelectDateFrom">Advanced</label>
                </div>
              </div>
            </div>
          </fieldset>
        </div>


      </div>
      </div>
      <a href="" class="govuk-link reset-button ">Reset</a>
      <br class="govuk-!-margin-bottom-4">
      <a href="" class="govuk-button filter-button">Search</a>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <ul class="course-list govuk-list">

      </ul>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}

{% block scripts %}
<script src="../../public/javascripts/courses.js"></script>
{% endblock %}