
{% extends "layout.html" %}

{% block pageTitle %}
Skills toolkit 2
{% endblock %}



{% block main %}
{% block beforeContent %}

{% endblock %}

{% block content %}
<!--<img src="../../public/images/image1.png">-->
<div class="feature new3"></div>
<div class="govuk-width-container page">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <div class="banner">
        <article class="overlay">
            <h1>The Skills Toolkit</h1>
            <div class="content rich-text">
                <p>Free, flexible, online courses. A range of skills to suit you.</p>
            </div>
        </article>
    </div>
  <section class="content-blocks ">

      <p>Learn new skills for free, including:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>Computer essentials and practical maths</li>
          <li>Coding and computer science</li>
          <li>Business and finance</li>
          <li>Personal development and wellbeing</li>
      </ul>
<p>Our trusted course providers include The Open University, Google, Amazon and FutureLearn. </p>
      <div class="buttons">
          <a href="courses-4" class="button button-dark" onclick="ga('send', 'event', 'Button Clicked', this.href, 'Explore free online courses');">Explore courses</a>
      </div>

      <section class="green-section">
          <h2>How the skills toolkit can help</h2>

          <p>One in three people have used online learning to help them get a better job. On average, online learning can boost your annual pay by £3,640 too<span>1</span>.
          </p>
          <p>Build your skills in your own time and on your own terms, with The Skills Toolkit.</p>
      </section>
      <section class="green-section">
            <h2>Learn the basics, or refresh the fundamentals</h2>
          <p>82% of all jobs require basic digital skills, such as using the internet or office programs like Microsoft Word. And the cost of poor numeracy to the UK economy is £20 billion a year.</p>
          <p>Some of us haven’t thought about maths since secondary school. Others have never quite got the hang of using a computer. With The Skills Toolkit, you can brush up on both in your own time. For free. </p>
      </section>
      <section class="green-section">
          <h2>Digital skills pay more, and are in demand</h2>
          <p>Salaries for more specialised digital roles tend to be 36% higher than average. In recent years, the number of digital jobs grew almost three times as quickly as other occupations.</p>
          <p>The Skills Toolkit offers a range of in-demand digital skills, including:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Data Analysis</li>
              <li>Artificial Intelligence</li>
              <li>User Experience Design</li>
          </ul>
          <p>These are in LinkedIn’s top 5 most in-demand hard skills. Learn them for free, with The Skills Toolkit. </p>
      </section>
      <section class="green-section">
          <h2>Boost your CV</h2>
          <p>A recent LinkedIn survey showed that more than half of the senior leaders and managers surveyed identified soft skills - like leadership, problem solving and project management - as their number one development priority.</p>
          <p>The Skills Toolkit offers a range of short courses on:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>networking</li>
              <li>communication</li>
              <li>personal development</li>
              <li>wellbeing</li>
          </ul>
          <p>Some of these courses take under an hour to complete. Use them to make your CV stand out. </p>
      </section>
      <section class="green-section">
          <h2>Under 25?</h2>
          <p>Whether you’ve just left education, are starting your career or looking for a new role, our free courses can help you impress an employer.</p>
          <p>Practical skills like coding, bookkeeping or finance will help make your CV stand out. </p>
      </section>





  </section>
    </div>
    </div>
</div>
{% endblock %}
{% endblock %}
